# ===== Maven =====
/target/
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
buildNumber.properties

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr
out/

# ===== VS Code =====
.vscode/

# ===== NetBeans =====
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ===== Eclipse / Spring Tool Suite (STS) =====
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# ===== OS system files =====
.DS_Store
Thumbs.db

# ===== Clinvar data files (можно раскомментировать, если они не нужны в Git) =====
# *.gz
# *.tbi

# ===== Logs =====
*.log

# ===== HTTP Client requests =====
*.http
